@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #287511;
	--dark-color-b: #15b41d;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

#rooms a {
	color: white;
	font-weight: 600;
	font-size: large;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	min-height: 80vh;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	min-height: 70vh;
	padding: 30px;
	max-height: 72vh;
	overflow-y: scroll;
}

.chat-messages .message {
	width: 50%;
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-messages .message.self {
	margin-left: 50%;
}


.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* auth Page */
.auth-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
	border-radius: 10px;
}

.auth-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.auth-form {
	padding: 30px 40px;
	background: var(--dark-color-b);
	border-radius: 0 0 10px 10px;
}

.auth-form p {
	margin-bottom: 20px;
}

.auth-form .form-control {
	margin-bottom: 20px;
}

.auth-form label {
	display: block;
	margin-bottom: 5px;
}

.auth-form input[type='text'], .auth-form input[type='password']  {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.auth-form .btn {
	margin-top: 20px;
	width: 100%;
}

#account {
	margin-top: 20px;
	text-align: center;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}

	.topnav {
		display: block;
	}
	.chat-header .btn{
		display: none;
	}

	.chat-header #mobile-menu {
		display: block;
	}
}

.active, .room:hover {
	background-color: var(--dark-color-a);
	padding: 8px;
	font-size: xx-large;
}

  
.topnav {
	overflow: hidden;
	position: relative;
}
  
  .topnav #myLinks {
	display: none;
  }

  .topnav a {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
  }
  
  .topnav a.icon {
	background: black;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
  }

  .chat-header a#mobile-menu.icon {
	background: black;
	color: white;
	position: relative;
	right: 0;
	top: 0;
	padding: 10px;
  }

#mobile-menu {
	display: none;
}
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .actives {
	background-color: #04AA6D;
	color: white;
  }